*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;

}
    .header{
        background: url(./images/header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            display: flex;
            background: rgba(0, 0, 0,.0);
            flex-flow: row nowrap;
            align-items:center;
            text-align:center;
            justify-content: space-around;
        }
        .logo{
            flex: 1 1 auto;
            
        }
            .logo a{
            display: flex;
            justify-content: flex-start;
            
            }
            .nav{
                flex:5 1 auto;
                
                
            }
                .nav a {
                    color: #343434;;
                    font-size: 15px;
                    padding: 0 4px;
                    letter-spacing: 2px;
                }
                .nav a:hover{
                    color:#f73f52
                }
            .social{
                margin:auto;
                display: flex;
                justify-content: center;

            
            }
            .social a{
                font-size: 18px;
                color: #343434;;
                padding: 0 5px;
            }
            .social a:hover{
                color:#f73f52;
            }
            .texto-principal{
            text-align:center;
            font-size: 10px;
            font-family:'Times New Roman', Times, serif;
            color:darkgoldenrod;
        }
            h1{
                background: rgba(0, 0, 0,.4);
            }
    .section{
        display: flex;
    }
        .articulos{
            background: rgb(187, 187, 187);
            flex:2 1 auto;
            display: flex;
            flex-flow: row wrap;

        }
            .article{
                background: #1f6cb0;
                flex:1 1 40%;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                flex:1 1 45%;
                background: #ececec;
                
            }
            p{
                column-count:2;
            }
            .article img{
                width: 100%;
            }
            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
            }
            h2{
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0 10px;
                color: #fff;
            }

            .navegacion{
                background:0;
                flex:1 1 100%;
                text-align:center;
            }
        .aside{
            background: #f73f52;
        
        }
            .publicidad{
                background: 0;
                text-align:center;
                
            }
    .footer{
        background: rgb(192, 192, 192);
    }
        .pie{
            background: 0;
            text-align:center;
        }
@media all and (max-width:1200px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height:auto;
    }
}
@media all and (max-width:600px){
    .articulos{
        flex-direction: column;
    }
}