*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
    padding-left: 80px;
    padding-right: 80px;

}
    .header{
        background: url(./images/header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        margin-left: 10px;
        margin-right: 10px;
    }
        .menu{
            display: flex;
            background: 0;
            flex-flow: row nowrap;
            align-items:center;
            text-align:center;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 80px;
        }
            .logo{
                margin:auto;
                display: flex;
            }
                .logo a{
                display: flex;
                }

            .nav{
                flex:5 1 auto;

            }
                .nav a {
                    color: #343434;;
                    font-size: 15px;
                    padding: 0 40px;
                    letter-spacing: 1px;

                }
                .nav a:hover{
                    color:#f73f52

                }
            .social{
                display: flex;

            }
            .social a{
                font-size: 18px;
                color: #343434;
                padding: 0 5px;
            }

        .texto-principal{
        background: rgba(0, 0, 0,.1);
        padding-top: 30px;
        padding-bottom: 80px;
        margin-left: 50px;
        margin-right: 50px;
        }
                h1{
                text-align:center;
                font-size: 25px;
                font-family:'Times New Roman', Times, serif;
                color:#ff6666;
                }

                h2{
                    background-color: #ff6666;
                }
    .section{
        display: flex;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        
    }
        .articulos{
            background: rgb(228, 228, 228);
            flex:2 1 auto;
            display:flex;
            flex-flow: row wrap;
            padding: 10px;

        }
            .article{
                font-size: 13px;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                letter-spacing: 0px;
                flex:1 1 45%;
                background: #ffffff;
                text-align:justify;
                padding: 10px;
                margin: 5px;
                
            }
                p{
                 column-count:2;
                 margin: 5px
                }

                 .article img{
                    width: 100%;
                    padding-bottom: 45px;
                }

                 h3{
                color: rgb(255, 230, 0);
                font-size: 13px;
                padding: 10px 5px;
                margin-top: -80px;
                 }

                h2{
                font-size: 25px;
                text-transform: uppercase;
                padding: 10px 5px;
                color: #fff;
            }

            .navegacion{
                background: 0;
                flex:1 1 100%;
                padding-left: 10px;
                padding-right: 10px;
                text-align:center;
                font-size: 12px;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
        .aside{
            background: 0;
            background: rgb(228, 228, 228);
            flex:2 1 auto;
            display:flex;
            flex-flow: row wrap;
            padding-left: 20px;
            padding-right:20px;
            margin-left:10px;
        
        }
            .publicidad{
            margin: 20px;
            text-align:center;
            }

            span{
                font-size: 12px;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

            }

    .footer{
        text-align:center;
        margin-bottom: 10px;
    }
        .pie{
            background: rgb(192, 192, 192);
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 12px
        }

@media all and (max-width:1200px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height:auto;
    }
    .nav a {
        color: #343434;;
        font-size: 15px;
        padding: 0 5px;
        margin-top: 20px;
        letter-spacing: 1px;
    }
    .aside{
        margin-left:0px;
    
    }
    .social{
        padding-top: 20px;
    }
    .texto-principal{
        font-size: 10px;
        }
}

@media all and (max-width:600px){
    .articulos{
        flex-direction: column;
    }
}