*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: #2d4059;
            display: flex;
            flex-flow: row nowrap;
        }
            .logo{
                background: #ea5455;
                flex:1 1 auto;
            }
            .nav{
                background: #ea5455;
                flex:5 1 auto;
                
            }
            .social{
                background: #ea5455;
                flex:1 1 auto;
            }
        .texto-principal{
            background: #f07b3f;
        }
            h1{
                background: #ffd460;
            }
    .section{
        background: #000;
        display: flex;
    }
        .articulos{
            background: #4e4e6a;
            flex:2 1 auto;
            display: flex;
            flex-flow: row wrap;

        }
            .article{
                background: #1f6cb0;
                flex:1 1 40%;
            }
            .navegacion{
                background: #70a3c4;
                flex:1 1 100%;
            }
        .aside{
            background: #f73f52;
            flex:2 1 auto;
        
        }
            .publicidad{
                background: #ffea85;
            }
    .footer{
        background: #000;
    }
        .pie{
            background: #ebaf2e;
        }
@media all and (max-width:1200px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height:auto;
    }
}
@media all and (max-width:600px){
    .articulos{
        flex-direction: column;
    }
}